.contactWrapper {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    border: 1px solid black;
    border-radius: 7px;
}

.deleteBtn {
    height: 30px;
}

.icon {
    margin-right: 10px;
}